<!DOCTYPE html>
<html>
  <head>
    <title>SwimWithJJ - Admin</title>
    <link rel="stylesheet" href="../css/bulma.min.css" integrity="sha256-n+Ch7oRdzZ9+8/inp+1mK/0Bt4T/2PSmo4L6YGoDiVM=" crossorigin="anonymous" />
  </head>

  <body class="content">
    <div id="admin-app">
      <h1 class="title">SwimWithJJ - Admin</h1>

      <div class="box">
        <table class="table">
          <caption># of Signups</caption>
          <thead>
            <tr>
              <th>Total</th>
              <th>Unpaid</th>
              <th>Paid</th>
            </tr>
          <thead>
          <tbody>
            <tr>
              <td>{{signupCount()}}</td>
              <td>{{signupCountUnpaid()}}</td>
              <td>{{signupCountPaid()}}</td>
            </tr>
          </tbody>
        </table>

        <input type="text" v-model="searchText" placeholder="Search"></p>
      </div>
        

        <div class="row-fluid" v-repeat="s in signups | filter:searchText | orderBy:predicate:reverse">

            <div class="box">
                <div class="span6">
                    <div class="box box-small">
                        <dl class="dl-horizontal">
                            <dt v-show="s._id.$oid">Record ID</dt><dd>{{s._id.$oid}}</dd>
                            <dt v-show="s.timestamp.$date">Signup Date</dt><dd>{{s.timestamp.$date | date:'medium'}}</dd>
                            <dt v-show="s.name">Parent</dt><dd>{{s.name}}</dd>
                            <dt v-show="s.email">Email</dt>
                            <dd><a target="_blank" href="mailto:{{s.email}}">{{s.email}}</a></dd>
                            <dt v-show="s.phone">Phone</dt><dd>{{s.phone}}</dd>
                            <dt v-show="s.cost">Payment Total</dt>
                            <dd v-hide="editingCost">
                                {{s.cost / 100 | currency}}
                                <a href="" title="edit payment total"
                                    v-click="editingCost = true; costEdit = s.cost" ><i class="icon-edit"></i></a></span>
                            </dd>
                            <dd v-show="editingCost">
                                <input class="input" type="text" v-model="costEdit"></input>
                                <button class="btn btn-link"
                                    v-click="saveCost(s._id, costEdit)">save</button>
                                <button class="btn btn-link"
                                    v-click="editingCost = null">cancel</button>
                                <br>
                            </dd>
                            <dt v-show="s.customer_id">Customer ID</dt>
                            <dd>
                                <a target="_blank" title="go to card payment interface"
                                    href="https://manage.stripe.com/customers/{{s.customer_id}}">{{s.customer_id}}</a>
                            </dd>
                            <dt>Payment Status</dt>
                            <dd>
                                <span class="text-success" v-show="s.payment_received">Received</span>
                                <span class="text-error" v-hide="s.payment_received">Pending</span>
                                <a href="" title="toggle payment received"
                                    v-click="togglePaymentReceived(s._id)"><i class="icon-refresh"></i></a>
                            </dd>
                            <dt>Process Status</dt>
                            <dd v-hide="editingStatus">
                                {{s.process_status || 'signup form received'}}
                                <a href="" title="edit process status"
                                    v-click="editingStatus = true; statusEdit = s.process_status || 'signup form received'" ><i class="icon-edit"></i></a></span>
                            </dd>
                            <dd v-show="editingStatus">
                                <select v-model="statusEdit"
                                        v-options="statusMessage for
                                                    statusMessage in
                                                    getStatusMessages(s.process_status)">
                                    <option value="">-- chose status --</option>
                                </select>
                                <button class="btn btn-link"
                                    v-click="saveStatus(s._id, statusEdit)">save</button>
                                <button class="btn btn-link"
                                    v-click="editingStatus = null">cancel</button>
                                <br>
                            </dd>
                        </dl>
                        <div v-show="s.request">
                            <strong>Request</strong><br>
                            {{s.request}}
                        </div>
                    </div>


                    <div>
                        <button v-hide="deletingStatus" v-click="deletingStatus = true" class="btn btn-mini btn-danger">Delete Signup</button>
                        <div class="alert alert-error" v-show="deletingStatus">
                            Are you sure you want to delete this record? This cannot be undone! <button class="btn btn-mini btn-danger" v-click="deleteRecord(s._id)">Delete</button> <button class="btn btn-mini" v-click="deletingStatus = null">Cancel</button>
                        </div>
                    </div>


                    <div class="box box-small">
                        <div class="control-group" v-class="{success: s.savingNotesSuccess, error: s.savingNotesAlert}">
                            <label><strong>Notes</strong></label>
                            <textarea class="input-block-level" v-model="s.notes"></textarea>
                            <span class="help-block text-error" v-show="s.savingNotesAlert">Could not save notes</span>
                            <button class="btn btn-mini" v-click="saveNotes(s)" v-disabled="s.savingNotes">Save Changes</button>
                        </div>
                    </div>

                </div><!--span4-->
                <div class="span6">
                    <ul class="unstyled box box-small" v-repeat="c in s.children">
                        <li><strong>{{c.child_name}}</strong></li>
                        <li>{{getAge(c.birthday)}}</li>
                        <li>{{c.swim_level}}</li>
                        <li>Sessions:
                            <ul>
                                <li v-repeat="i in c.sessions">
                                <span v-hide="$parent.editing == $index">{{i}} <a href="" title="edit session"
                                        v-click="$parent.editing = $index; sessionEdit = i" ><i class="icon-edit"></i></a></span>
                                <div v-show="$parent.editing == $index">
                                    <input class="input-block-level" type="text" v-model="sessionEdit"></input>
                                    <button class="btn btn-link"
                                        v-click="saveSession(s._id, $parent.$index, $index, sessionEdit)">save</button>
                                    <button class="btn btn-link"
                                        v-click="removeSession(s._id, $parent.$index, $index, i)">remove</button>
                                    <button class="btn btn-link"
                                        v-click="$parent.editing = null">cancel</button>
                                </div>
                                </li>
                            </ul>
                            <button v-show="editing == null" class="btn btn-link" v-click="editing = -1">add</button>
                            <div v-show="editing == -1">
                                <select v-model="newSession"
                                        v-options="availableSession for
                                                    availableSession in
                                                    getSessions(c.sessions)">
                                    <option value="">-- chose session --</option>
                                </select>
                                <button type="submit" class="btn btn-link"
                                    v-click="addSession(s._id, $index, newSession)">add</button>
                                <button class="btn btn-link" v-click="editing=null">cancel</button>
                            </div>
                            <div class="alert alert-error" v-show="s.savingSessionAlert">Could not save changes to sessions</div>
                        </li>
                    </ul>
                </div><!--span8-->
                <div class="clearfix"></div>
            </div><!--box-->
        </div><!--row-->
                  
    </div>

    <footer>
        <p><small>SwimWithJJ 2013<small></p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script> 
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-sanitize.min.js"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
    <script src="../js/admin.js"></script>
  </body>
</html>
