<div id="contact">
  <div class="section-header">
      <div class="container">
          <h1>Contact JJ</h1>
      </div>
  </div>

  <div class="container section">
      <!--<div class="pagenav nav-up"><a href="#sign-up"><i class="glyphicon glyphicon-arrow-up"></i> Back to Sign-Up</a></div>-->

      <p class="lead">Send any questions or concerns and JJ will respond as soon as possible.</p>
              
      <form class="form-horizontal" id="contact-form">
          <div class="form-group">
              <label class="col-sm-2 control-label" for="name">Name</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" name="name" placeholder="First and last name"/>
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-2 control-label" for="email">Email</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" name="email" placeholder="example@domain.com"/>
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-2 control-label" for="number">Phone Number</label>
              <div class="col-sm-4">
                  <input type="tel" class="form-control" name="number" placeholder="123-456-7890"/>
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-2 control-label" for="message">Message</label>
              <div class="col-sm-8">
                  <textarea name="message" rows="5" class="form-control input-lg"></textarea>
              </div>
          </div>

          <input type="hidden" name="id" value="message"/>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-lg btn-primary" data-loading-text="sending message...">Send Message</button>
            </div>
          </div>

      </form>
  </div> 
</div>
