<div class="section">
  <div class="row">
    <div class="col s12">
      <div class="card-panel dim-paper">
        <h1>FAQ</h1>

        <ul class="list-unstyled">
            <li>
                <h3 class="red-text text-lighten-2">I'm not sure of my summer schedule. Can I sign up and then cancel?</h3>
                <p class="flow-text">Unfortunately, <strong>I am not able to give refunds</strong>. I recommend making swim lessons a priority and scheduling other activities around it.  ;)</p>
            </li>

            <img class="right pad10 img-vertical" src="./img/girl2.svg" />

            <li>
                <h3 class="red-text text-lighten-2">How warm do you keep your pool?</h3>
                <p class="flow-text">The pool temperature is <strong>88 degrees Fahrenheit</strong>. It feels like a bathtub!</p>
            </li>

            <li>
                <h3 class="red-text text-lighten-2">Where are the lessons held?  </h3>
                <p class="flow-text">See <a ui-sref="lesson-info">Lesson Info</a> for the address and a map for each location.
            </li>

            <li>
                <h3 class="red-text text-lighten-2">How many sessions do you recommend?</h3>
                <p class="flow-text">This really depends on the goal you have for your kids. If your kids are not water safe, I recommend at least 2 sessions. If your kids are taking lessons for stroke techniques, 1 session should be sufficient, but 2 sessions can still be beneficial.</p>
            </li>

            <li>
                <h3 class="red-text text-lighten-2">I am signing my child up for multiple sessions; should the sessions be consecutive?</h3>
                <p class="flow-text">As long as your child is in the pool several days a week in between the sessions then no, it doesn't need to be consecutive.  However, I know as a parent, it helps to keep schedules consistent so unless you have a planned vacation, I would recommend signing up for consecutive sessions.</p>  

            <li>
                <h3 class="red-text text-lighten-2">Do I sign-up for a specific lesson time?</h3>
                <p class="flow-text">No.  While I try to fulfill any requests for a specific lesson time, it is often hard to do as I schedule based on skill level, availability and requested lesson time.</p>

            <li>
                <h3 class="red-text text-lighten-2">Do you do make-ups for a missed class?</h3>
                <p class="flow-text">I try my best to accommodate make-up classes, but there is not a specific make-up lesson or class. If you miss a class I will add you to a list and contact you when there is a spot available, even if the class is not made up until another session.</p>
            </li>

            <li>
                <h3 class="red-text text-lighten-2">Is there a restroom available?</h3>
                <p class="flow-text">Yes, there is a restroom easily accessible. However, please try to arrive with your children already in their suits.</p>
            </li>


            <li>
                <h3 class="red-text text-lighten-2">Where do I park?</h3>
                <p class="flow-text">Street parking is plentiful. Please be mindful of the neighbors and make sure to not block any driveways.</p>
            </li>


            <li>
                <h3 class="red-text text-lighten-2">Can I stay and watch the swim lesson?</h3>
                <p class="flow-text">Yes, of course! If your child is distracted by your presence, I might ask you to wait inside (where you can still watch!).</p>
            </li>

            <li>
                <h3 class="red-text text-lighten-2">Can I leave my child during the lesson?</h3>
                <p class="flow-text">You are welcome to leave your child, but only after the lesson begins and you must return before the lesson is over.</p>
            </li>  


            <li>
                <h3 class="red-text text-lighten-2">Is there anything I can be doing to prepare my child for swim lessons?</h3>
                <img class="left pad10" src="./img/girl1.svg" />
                <p class="flow-text">Yes! If your child is uncomfortable putting his or her face in the water, practice often in the bathtub or even a small inflatable pool. Have your child blow bubbles, working up to putting their nose, and eventually their eyes in. When getting their hair wet, don't be afraid to let water run down his or her face. This too will help them become familiar with the feeling of water. You can even have them practice kicking and floating on their back. If you sense that swim lessons are going to be a struggle, be prepared to offer rewards every step of the way! While it might be difficult, you will also want to try to get your children into a pool at least once a week on days without a lesson. You will be amazed at how their confidence builds after spending several hours in the pool outside of lessons.</p>
            </li>

            <li>
                <h3 class="red-text text-lighten-2">What does "water safe" mean?</h3>
                <p class="flow-text">Water safe is a term used to describe any person who can swim or play safely in a pool without assistance. A child is water safe when s/he can do the following independently: play, swim the width of a pool, and jump in and return to the wall.<p class="flow-text">  
            </li>

        </ol>
      </div>
    </div>
  </div>
</div>
