<div class="section">
  <div class="row">
    <div class="col s12">
      <div class="card-panel dim-paper">
        <h1 class="">Swim With JJ</h1>
            <h3>Water Safety, Swim Lessons, and Stroke Technique in a comfortable and relaxing setting</h3>
        <div class="pagenav"><a style="display: none;" href="#about" ng-hide="swjj.config.signupsActive || config.lessonInfoActive" class="btn btn-success btn-lg">Learn More »</a></div>
        <div class="pagenav"><a style="display: none;" href="#lesson-info" ng-hide="swjj.config.signupsActive || !config.lessonInfoActive" class="btn btn-success btn-lg">Learn More »</a></div>
        <div class="pagenav"><a style="display: none;" href="#sign-up" ng-show="swjj.config.signupsActive" class="btn btn-success btn-lg">Sign-Up Now »</a></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s4">
    <div class="card-panel dim-paper">
      <img src='./img/lifejacket.png'>
      <h3>Safety First, Fun Next</h3>
      <p class="flow-text">The primary focus for each class is <strong class="red-text text-lighten-2">water safety</strong>. The water should be a place to have fun and be playful, but staying afloat is the first priority. JJ teaches her students <strong class="red-text text-lighten-2">not to rely on swimming aids</strong> or help from others. Kids are taught to stay calm if they fall into the water, how to float on their own, and how to get back to the wall.</p>
    </div>
  </div>
  <div class="col s4">
    <div class="card-panel dim-paper">
        <img src='./img/swimming.png'>
        <h3>Small Group Learning</h3>
        <p class="flow-text">Lessons are made up of <strong class="red-text text-lighten-2">2 to 4 students</strong> at the same level of swimming proficiency. The groups are small enough that each child receives <strong class="red-text text-lighten-2">personalized instruction</strong>. At the same time, the group setting allows kids to learn from watching others and to receive <strong class="red-text text-lighten-2">positive reinforcement</strong> from their peers.</p>
      </div>
  </div>
  <div class="col s4">
    <div class="card-panel dim-paper">
        <img src='./img/diver.png'>
        <h3>Underwater Adventure</h3>
        <p class="flow-text">Anxiety around the water is a normal reaction. However, many of JJ's swimmers develop an <strong class="red-text text-lighten-2">excitement and confidence</strong> in their abilities that surprises and inspires them. JJ finds the <strong class="red-text text-lighten-2">balance between empathy and firmness</strong> that empowers her students to abandon their fears and learn to love the water.</p>
      </div>
  </div>
</div> 

