<style>
.jumbotron {
  background: url('img/underwater_crop.jpg') center / cover;
  margin-bottom: 30px;
  padding: 50px;
}
.jumbotron h1, .jumbotron small, .jumbotron .lead {
  color: white;
  text-shadow: 0px 1px 1px rgba(55, 97, 122, 0.5);
  letter-spacing: inherit;
}
</style>

<div class="jumbotron" id="top">
    <div class="container pad50">
        <div class="row">
            <div class="col-md-7">
                <h1>Swim With JJ</h1>
                    <p class="lead">Water Safety, Swim Lessons, and Stroke Technique in a comfortable and relaxing setting</p>
                <div class="pagenav"><a style="display: none;" href="#about" ng-hide="swjj.config.signupsActive || config.lessonInfoActive" class="btn btn-success btn-lg">Learn More »</a></div>
                <div class="pagenav"><a style="display: none;" href="#lesson-info" ng-hide="swjj.config.signupsActive || !config.lessonInfoActive" class="btn btn-success btn-lg">Learn More »</a></div>
                <div class="pagenav"><a style="display: none;" href="#sign-up" ng-show="swjj.config.signupsActive" class="btn btn-success btn-lg">Sign-Up Now »</a></div>
            </div>
        </div>
    </div>
</div>

<div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <img src='./img/lifejacket.jpg'>
        <h2>Safety First, Fun Next</h2>
        <p>The primary focus for each class is <strong class="blue tall">water safety</strong>. The water should be a place to have fun and be playful, but staying afloat is the first priority. JJ teaches her students <strong class="blue tall">not to rely on swimming aids</strong> or help from others. Kids are taught to stay calm if they fall into the water, how to float on their own, and how to get back to the wall.</p>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <img src='./img/swimming.png'>
        <h2>Small Group Learning</h2>
        <p>Lessons are made up of <strong class="blue tall">2 to 4 students</strong> at the same level of swimming proficiency. The groups are small enough that each child receives <strong class="blue tall">personalized instruction</strong>. At the same time, the group setting allows kids to learn from watching others and to receive <strong class="blue tall">positive reinforcement</strong> from their peers.</p>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <img src='./img/diver.jpg'>
        <h2>Underwater Adventure</h2>
        <p>Anxiety around the water is a normal reaction. However, many of JJ's swimmers develop an <strong class="blue tall">excitement and confidence</strong> in their abilities that surprises and inspires them. JJ finds the <strong class="blue tall">balance between empathy and firmness</strong> that empowers her students to abandon their fears and learn to love the water.</p>
      </div>
</div> 

