<div class="section">
  <div class="row">
    <div class="col s12">
      <div class="card-panel dim-paper">
          <h1>Sign-up</h1>

          <div ng-hide="swjj.config.signupsActive">
              <h1>Coming Soon...</h1>
              <p class="lead">To be contacted when sign-ups open, you can leave your email address and JJ will let you know as soon as the fun begins.</p>

              <form class="form-inline" id="signup-notification-form">
                  <input type="email" name="email" placeholder="Enter your email here"/>
                  <input type="hidden" name="id" value="signup-notification"/>
                  <button type="submit" class="btn btn-primary" data-loading-text="saving address...">Notify Me</button>
              </form>
          </div>

  <div class="row">
    <div class="col s12">
      <div class="card-panel dark-paper">
        <div class="row">
          <form class="col s12" id="signup-form" ng-show="swjj.config.signupsActive" ng-submit="swjj.processSignup()">
              <fieldset>
                  <legend>parent's information</legend>
                  <div class="row">
                      <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input class="validate" type="text" id="name" ng-model="swjj.signup.name"/>
                        <label class="active" for="name">Name (First and Last)</label>
                      </div>
                      <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input class="validate" type="tel" id="phone" ng-model="swjj.signup.phone"/>
                        <label class="active" for="phone">Phone #</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s6">
                        <i class="material-icons prefix">email</i>
                        <input class="validate" type="text" id="email" ng-model="swjj.signup.email"/>
                        <label class="active" for="email">Email Address</label>
                      </div>
                  </div>
              </fieldset>

              <div class="section">
                <span>How many children are you signing up?</span>
                <a class="waves-effect waves-light btn-large" id="numChildren-{{num}}" ng-click="swjj.changeChildCount(num + 1)" ng-class="{active : $index == swjj.childCount - 1}" ng-repeat="num in swjj.maxChildrenRange()">{{num + 1}}</a>
              </div>

              <input type="hidden" name="child_count" value="{{childCount}}"/>

              <fieldset ng-repeat="childIndex in swjj.childRange()">
                  <span>{{childLabel(childIndex)}}</span>
                  <div class="row">
                      <div class="input-field col s6">
                        <input class="validate" type="text" id="child_name-{{childIndex}}" ng-model="swjj.signup.children[swjj.childIndex].name"/>
                        <label class="active" for="child_name">Name</label>
                      </div>
                      <div class="input-field col s6">
                        <input class="validate" type="date" id="birthday-{{childIndex}}" ng-model="swjj.signup.children[swjj.childIndex].birthday"/>
                        <label class="active" for="birthday">Birthday</label>
                      </div>
                      <label class="active" for="swim_level">Swimming Level</label>
                      <select id="swim_level-{{childIndex}}" class="validate" ng-model="swjj.signup.children[childIndex].swim_level">
                        <option></option>
                        <option>uncomfortable putting his or her face in the water</option>
                        <option>comfortable putting his or her face in the water</option>
                        <option>can swim the width of a pool</option>
                        <option>advanced swimmer, can swim length of a pool</option>
                      </select>
                      <div class="input-field col s6">
                          <label class="active" for="session-select">Sessions</label>
                          <div class="selected-sessions">
                              <div class="alert alert-success session" ng-repeat="s in swjj.signup.children[childIndex].sessions">
                                  {{s.name}}
                                  <button type="button" class="close" ng-click="swjj.removeSession(cswjj.hildIndex, $index)">×</button>
                              </div>
                          </div>
                          <select name="selected-session-{{childIndex}}" class="select-session validate"
                              ng-model="swjj.selectedSession[childIndex]"
                              ng-change="swjj.addSession(childIndex)"
                              ng-options="s.name for s in swjj.childsAvailableSessions(childIndex)">
                              <option value="">-- Add Session --</option>
                          </select>
                          <span ng-hide="swjj.signup.place" class="help-block">
                              You need to select a Location at the top of the form
                          </span>
                          <span ng-show="swjj.signup.place" class="help-block">
                              <small>Add all the sessions you are interested in</small>
                          </span>
                      </div>
                  </div>
                  <input type="hidden" name="sessions-{{childIndex}}-{{$index}}" value="{{session.name}}"
                      ng-repeat="session in swjj.signup.sessions[childIndex]">
              </fieldset>


              <fieldset>
                  <legend>special requests/needs</legend>
                  <div class="form-group">
                      <label class="col-sm-2 control-label" for="request">Request</label>
                      <div class="col-sm-10">
                          <textarea name="request" rows="3" class="validate" ng-model="swjj.signup.request"></textarea>
                          <span class="help-block"><small>in a lesson with a friend, a specific time slot, etc.</small></span>
                      </div>
                  </div>
              </fieldset>

              <!--<pre>-->
                  <!--{{signup}}-->
                  <!--{{childCount}}-->
                  <!--{{config}}-->
              <!--</pre>-->

              <fieldset>
                  <legend>Payment</legend>
                  <div class="pad10">
                      <span class="lead">Number of Sessions: </span><span class="lead">{{sessionTotal()}}</span>
                  </div>
                  <div class="pad10">
                      <h4>Credit Card</h4>
                      <strong class="blue">Your card will only be charged after JJ confirms your lesson times.</strong>
                      <div class="pad10">
                          <span class="lead">Total: </span><span class="lead">{{paymentTotal() | currency}}</span>
                      </div>
                      <button type="button" class="btn btn-large btn-primary"
                        ng-click="payWithCard()"
                        ng-disabled="cardButtonMessage != 'Enter Payment Information'"
                        ng-show="cardButtonMessage != 'Payment Information Saved'"
                        ng-class="{'btn-primary': !swjj.signup.customerId}">{{swjj.cardButtonMessage}}</button>
                  </div>
              </fieldset>

              <div class="alert alert-block alert-error" ng-show="swjj.paymentError">
                  <h4>Sorry</h4>
                  <p>There seems to be a problem saving your payment information. Below is the error received by the processing company:</p>
                  <p>{{paymentError}}</p>
              </div>

              <div class="alert alert-block alert-info" ng-show="swjj.signup.customerId">
                  <strong>You have saved your payment information; but don't forget to click "Send Sign-Up Form" below to complete the sign-up process.</strong>
              </div>

              <input type="hidden" name="id" value="signup"/>
              <input type="hidden" name="cost" value="{{paymentTotal()}}">
              <input type="hidden" name="customer_id" value="{{customerId}}">
              <div class="form-actions">
                  <button type="submit" class="btn btn-large btn-primary"
                      ng-show="customerId"
                      data-loading-text="sending sign-up form..."
                      ng-disabled="cardButtonMessage == 'saving payment information'">Send Sign-Up Form</button>
              </div>

              <div style="display:none;" id="signup-complete-alert" class="alert alert-block alert-success">
                  <h4>Thank You!</h4>
                  You have completed the signup process. JJ will confirm your exact lesson times <strong>within the next 3 weeks.</strong> If you have any additional questions, please let her know by using the contact form below.
              </div>
          </form>
        </div>
      </div>

          <!--<div class="pagenav nav-down"><a href="#contact"><i class="glyphicon glyphicon-arrow-down"></i> Send JJ a Message</a></div>-->
      </div> 
    </div>
      </div> 
    </div>
  </div>
</div>
