<div class="section">
  <div class="row">
    <div class="col s12">
      <div class="card-panel dim-paper">
        <h1>Testimonials</h1>

        <img class="right pad10" src="./img/boy2.svg" />

        <blockquote>
            <p class="flow-text">JJ is amazing.  My daughter used to be very timid around the water and now, <strong class="red-text text-lighten-2">thanks to JJ, she swims like a fish!!</strong></p>
            <small>Kathleen (mom to Brittany, age 5)</small>
        </blockquote>

        <blockquote>
            <p class="flow-text">My 3 sons love lessons with JJ.  She has taught them to be safe and proficient in the water as well as <strong class="red-text text-lighten-2">given them a great love for swimming</strong>.  We tried other group lessons, and were not thrilled.  JJ is the BEST!</p>
            <small>Kirsten (mom to Karl, age 7, and Alec and Drew, age 5)</small>
        </blockquote>

        <blockquote>
            <p class="flow-text">JJ is an amazing swim teacher.  I wish I'd found her when my son was younger.  I would have started him out with her right away.  She is just <strong class="red-text text-lighten-2">the right combination of kind, calm and gently firm</strong> that got my son past his fear of going underwater.  He was worried about swim lessons when we started, but by the 3rd lesson he was past his fear and couldn't wait to go each time.  He even told me <strong class="red-text text-lighten-2">he was excited about going under water</strong> and his confidence soared.  Watching her and the steps she takes with kids as they progress, it's obvious she is highly experienced in teaching children to swim...</p>
            <br>
            <p class="flow-text">...I love that JJ has 3 or 4 kids in each lesson.  They all get <strong class="red-text text-lighten-2">plenty of individual attention</strong>, but also the fun and encouragement of learning with other children.  It's perfect!</p>
            <small>Candis (mom to Nathaniel, age 5)</small>
        </blockquote>

        <blockquote>
            <p class="flow-text">JJ is amazing with her students and I feel very fortunate to have been referred to her. She's firm but kind - exactly what my girls need in a swim instructor. She <strong class="red-text text-lighten-2">knows when to push them to reach that next level</strong>, but never to the point of forcing a fearful child to do something they just aren't ready to do. My girls adore JJ, but more importantly, they respect her authority in the pool. We're all excited to get back to swim lessons this spring!</p>
            <small>Daniele (mom to Angelina and Isabella, age 5)</small>
        </blockquote>

        <img class="right pad10 img-vertical" src="./img/boy1.svg" />
        <blockquote>
            <p class="flow-text">When they first started at JJ's swimming class, both Leah & Danielle were so scared of being in the water that they would not put their faces in.  JJ's patience and teaching techniques <strong class="red-text text-lighten-2">enabled my girls to learn</strong>, to be watersafe, and most important of all, to enjoy swimming by the end of the summer.  <strong class="red-text text-lighten-2">They can't wait to start swimming with JJ again!</strong></p>
            <small>Lorna (mom to Danielle, age 5 and Leah, age 7)</small>
        </blockquote>

        <blockquote>
            <p class="flow-text">First day of swim lessons, Alani was in the pool and I heard her tell JJ, "This is the worst day of my life!" Two or three lessons later, Alani had her face underwater and was beginning to feel more comfortable in the pool. Toward the end of the session, Alani <strong class="red-text text-lighten-2">could swim without assistance</strong> from one end of the pool to the other and <strong class="red-text text-lighten-2">has loved swimming ever since!</strong> Thanks JJ!</p>
            <small>Xenia (mom to Alani, age 5)</small>
        </blockquote>

      </div> 
    </div> 
  </div> 
</div>
