<div id="testimonials">
  <div class="section-header">
      <div class="container">
          <h1>Testimonials</h1>
      </div>
  </div>

  <div class="container section">
      <!--<div class="pagenav nav-up"><a href="#faq"><i class="glyphicon glyphicon-arrow-up"></i> Back to FAQs</a></div>-->

      <img class="wrap-left" src="./img/boy2.svg" />

      <blockquote class="space60">
          <p class="lead">JJ is amazing.  My daughter used to be very timid around the water and now, <strong class="tall blue">thanks to JJ, she swims like a fish!!</strong></p>
          <small>Kathleen (mom to Brittany, age 5)</small>
      </blockquote>

      <blockquote class="space60">
          <p class="lead">My 3 sons love lessons with JJ.  She has taught them to be safe and proficient in the water as well as <strong class="tall blue">given them a great love for swimming</strong>.  We tried other group lessons, and were not thrilled.  JJ is the BEST!</p>
          <small>Kirsten (mom to Karl, age 7, and Alec and Drew, age 5)</small>
      </blockquote>

      <blockquote class="space60">
          <p class="lead">JJ is an amazing swim teacher.  I wish I'd found her when my son was younger.  I would have started him out with her right away.  She is just <strong class="tall blue">the right combination of kind, calm and gently firm</strong> that got my son past his fear of going underwater.  He was worried about swim lessons when we started, but by the 3rd lesson he was past his fear and couldn't wait to go each time.  He even told me <strong class="tall blue">he was excited about going under water</strong> and his confidence soared.  Watching her and the steps she takes with kids as they progress, it's obvious she is highly experienced in teaching children to swim...</p>
          <br>
          <p class="lead">...I love that JJ has 3 or 4 kids in each lesson.  They all get <strong class="tall blue">plenty of individual attention</strong>, but also the fun and encouragement of learning with other children.  It's perfect!</p>
          <small>Candis (mom to Nathaniel, age 5)</small>
      </blockquote>

      <blockquote class="space60">
          <p class="lead">JJ is amazing with her students and I feel very fortunate to have been referred to her. She's firm but kind - exactly what my girls need in a swim instructor. She <strong class="tall blue">knows when to push them to reach that next level</strong>, but never to the point of forcing a fearful child to do something they just aren't ready to do. My girls adore JJ, but more importantly, they respect her authority in the pool. We're all excited to get back to swim lessons this spring!</p>
          <small>Daniele (mom to Angelina and Isabella, age 5)</small>
      </blockquote>

      <img class="wrap-left img-vertical" src="./img/boy1.svg" />
      <blockquote class="space60">
          <p class="lead">When they first started at JJ's swimming class, both Leah & Danielle were so scared of being in the water that they would not put their faces in.  JJ's patience and teaching techniques <strong class="tall blue">enabled my girls to learn</strong>, to be watersafe, and most important of all, to enjoy swimming by the end of the summer.  <strong class="tall blue">They can't wait to start swimming with JJ again!</strong></p>
          <small>Lorna (mom to Danielle, age 5 and Leah, age 7)</small>
      </blockquote>

      <blockquote class="space60">
          <p class="lead">First day of swim lessons, Alani was in the pool and I heard her tell JJ, "This is the worst day of my life!" Two or three lessons later, Alani had her face underwater and was beginning to feel more comfortable in the pool. Toward the end of the session, Alani <strong class="tall blue">could swim without assistance</strong> from one end of the pool to the other and <strong class="tall blue">has loved swimming ever since!</strong> Thanks JJ!</p>
          <small>Xenia (mom to Alani, age 5)</small>
      </blockquote>

      <!--<div class="pagenav nav-down"><a href="#sign-up"><i class="glyphicon glyphicon-arrow-down"></i> Sign-Up for Lessons</a></div>-->
  </div> 
</div>
