---
import Layout from '../layouts/Layout.astro';
---

<Layout title="FAQ">
	<div class="container mx-auto max-w-4xl">
		<h1 class="text-3xl font-bold mb-6">Frequently Asked Questions</h1>
		
		<div>
			<h3 class="text-maroon">Can my children, who are different ages, be in the same lesson?</h3>
			<p>This will depend on the age difference and skill level of each child because they will learn at different rates. For example, a 3 and 4 year old who have never had swim lessons before can be in the same lesson because both children would start with being comfortable in the water. A 4 and 6 year old, however, might start out at the same level but the 6 year old can progress much more quickly than the 4 year old and this makes it more challenging to be teaching to two different levels. I understand the inconvenience of having kids in different lessons but it also might be the best use of your time and money to split your children up.</p>
			
			<h3 class="text-maroon">How do you make your schedule?</h3>
			<p>I first look at your desired session and lesson time. Then I match your child in a lesson that best fits their level.</p>
			
			<h3 class="text-maroon">I'm not sure of my summer schedule. Can I sign up and then cancel?</h3>
			<p>Unfortunately, <strong>I am not able to give refunds</strong>. I recommend making swim lessons a priority and scheduling other activities around it. ;)</p>
			
			<img src="/images/girl2.svg" alt="Swimming Girl" class="float-left mr-4 w-20 mb-4">
			
			<h3 class="text-maroon">How warm do you keep your pool?</h3>
			<p>The pool temperature is <strong>88 degrees Fahrenheit</strong>. It feels like a bathtub!</p>
			
			<h3 class="text-maroon">Where are the lessons held?</h3>
			<p>See <a href="/lesson-info" class="underline">Lesson Info</a> for the address and a map.</p>
			
			<h3 class="text-maroon">How many sessions do you recommend?</h3>
			<p>This really depends on the goal you have for your kids. If your kids are not water safe, I recommend at least 2 sessions. If your kids are taking lessons for stroke techniques, 1 session should be sufficient, but 2 sessions can still be beneficial.</p>
			
			<h3 class="text-maroon">I am signing my child up for multiple sessions; should the sessions be consecutive?</h3>
			<p>As long as your child is in the pool several days a week in between the sessions then no, it doesn't need to be consecutive. However, I know as a parent, it helps to keep schedules consistent so unless you have a planned vacation, I would recommend signing up for consecutive sessions.</p>
			
			<h3 class="text-maroon">Do I sign-up for a specific lesson time?</h3>
			<p>No. While I try to fulfill any requests for a specific lesson time, it is often hard to do as I schedule based on skill level, availability and requested lesson time.</p>
			
			<h3 class="text-maroon">Do you do make-ups for a missed class?</h3>
			<p>I try my best to accommodate make-up classes, but there is not a specific make-up lesson or class. If you miss a class I will add you to a list and contact you when there is a spot available, even if the class is not made up until another session.</p>
			
			<h3 class="text-maroon">Is there a restroom available?</h3>
			<p>Yes, there is a restroom easily accessible. However, please try to arrive with your children already in their suits.</p>
			
			<h3 class="text-maroon">Where do I park?</h3>
			<p>Street parking is plentiful. Please be mindful of the neighbors and make sure to not block any driveways.</p>
			
			<h3 class="text-maroon">Can I stay and watch the swim lesson?</h3>
			<p>Yes, of course! If your child is distracted by your presence, I might ask you to wait inside (where you can still watch!).</p>
			
			<h3 class="text-maroon">Can I leave my child during the lesson?</h3>
			<p>You are welcome to leave your child, but only after the lesson begins and you must return before the lesson is over.</p>
			
			<img src="/images/girl1.svg" alt="Swimming Girl" class="float-right ml-4 w-2/5 mb-4">
			
			<h3 class="text-maroon">Is there anything I can be doing to prepare my child for swim lessons?</h3>
			<p>Yes! If your child is uncomfortable putting his or her face in the water, practice often in the bathtub or even a small inflatable pool. Have your child blow bubbles, working up to putting their nose, and eventually their eyes in. When getting their hair wet, don't be afraid to let water run down his or her face. This too will help them become familiar with the feeling of water. You can even have them practice kicking and floating on their back. If you sense that swim lessons are going to be a struggle, be prepared to offer rewards every step of the way! While it might be difficult, you will also want to try to get your children into a pool at least once a week on days without a lesson. You will be amazed at how their confidence builds after spending several hours in the pool outside of lessons.</p>
			
			<h3 class="text-maroon">What does "water safe" mean?</h3>
			<p>Water safe is a term used to describe any person who can swim or play safely in a pool without assistance. A child is water safe when s/he can do the following independently: play, swim the width of a pool, and jump in and return to the wall.</p>
		</div>
	</div>
</Layout> 