---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home" full_width_hero={true}>
	<div class="jumbotron w-full" style="background: #000 url('/images/underwater_crop.jpg') center center; background-size: cover; min-height: 350px;">
		<div class="container mx-auto px-4 py-12">
			<h1 class="text-4xl font-bold mb-2">Swim With JJ</h1>
			<p class="text-xl mb-6">Water Safety, Swim Lessons, and Stroke Technique in a comfortable and relaxing setting</p>
			<a href="/lesson-info" class="btn btn-success bg-green-800 text-white font-medium py-2 px-4 rounded hover:bg-green-900">Learn More »</a>
		</div>
	</div>

	<div class="container mx-auto px-4 mt-8">
		<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
			<div class="text-center">
				<img src="/images/lifejacket.jpg" alt="Lifejacket" class="mx-auto mb-4 h-16 w-auto">
				<h2 class="text-xl font-bold mb-2">Safety First, Fun Next</h2>
				<p>The primary focus for each class is <strong class="text-maroon">water safety</strong>. The water should be a place to have fun and be playful, but staying afloat is the first priority. JJ teaches her students <strong class="text-maroon">not to rely on swimming aids</strong> or help from others. Kids are taught to stay calm if they fall into the water, how to float on their own, and how to get back to the wall.</p>
			</div>
			<div class="text-center">
				<img src="/images/swimming.png" alt="Swimming" class="mx-auto mb-4 h-16 w-auto">
				<h2 class="text-xl font-bold mb-2">Small Group Learning</h2>
				<p>Lessons are made up of <strong class="text-maroon">2 to 4 students</strong> at the same level of swimming proficiency. The groups are small enough that each child receives <strong class="text-maroon">personalized instruction</strong>. At the same time, the group setting allows kids to learn from watching others and to receive <strong class="text-maroon">positive reinforcement</strong> from their peers.</p>
			</div>
			<div class="text-center">
				<img src="/images/diver.jpg" alt="Diver" class="mx-auto mb-4 h-16 w-auto">
				<h2 class="text-xl font-bold mb-2">Underwater Adventure</h2>
				<p>Anxiety around the water is a normal reaction. However, many of JJ's swimmers develop an <strong class="text-maroon">excitement and confidence</strong> in their abilities that surprises and inspires them. JJ finds the <strong class="text-maroon">balance between empathy and firmness</strong> that empowers her students to abandon their fears and learn to love the water.</p>
			</div>
		</div>
	</div>
</Layout>
