
          <form class="form-horizontal" id="signup-form" v-if="signupsActive && !sessionsFull">

              <div class="alert alert-block">
                  <h4>Please do not sign-up unless you are 100% sure your child is able to participate in lessons and you are flexible enough to be placed at the lesson time given.</h4>
              </div>

              <fieldset>
                  <legend>parent's information</legend>
                  <div class="control-group">
                      <label class="control-label" for="name">Name</label>
                      <div class="controls">
                          <input type="text" name="name" placeholder="First and last name"/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="phone">Phone</label>
                      <div class="controls">
                          <input type="tel" name="phone" placeholder="123-456-7890"/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="email">Email</label>
                      <div class="controls">
                          <input type="text" name="email" placeholder="example@domain.com"/>
                      </div>
                  </div>
              </fieldset>

                  <div class="control-group">
                      <label class="control-label">How many children are you signing up?</label>
                      <div class="controls">
                          <div class="nav btn-group" data-toggle="buttons-radio" >
                              <button type="button" id="numChildren-{{num}}" class="btn btn-large" @click="changeChildCount(num + 1)" v-class="{active : num == childCount - 1}" v-for="num in maxChildren">{{num + 1}}</button>
                          </div>
                      </div>
                  </div>
                  <input type="hidden" name="child_count" value="{{childCount}}"/>

              <fieldset class="child-info" v-for="childIndex in childCount">
                  <legend>{{childLabel(childIndex)}}</legend>
                  <div class="child-info">
                      <div class="control-group">
                          <label class="control-label" for="child_name">Name</label>
                          <div class="controls">
                              <input type="text" name="child_name-{{childIndex}}" placeholder="First name"/>
                          </div>
                      </div>
                      <div class="control-group">
                          <label class="control-label" for="birthday">Birthday</label>
                          <div class="controls">
                              <input type="date" name="birthday-{{childIndex}}"/>
                          </div>
                      </div>
                      <div class="control-group">
                          <label class="control-label" for="swim_level">Swimming Level</label>
                          <div class="controls">
                              <select name="swim_level-{{childIndex}}" class="input-xxlarge">
                                  <option></option>
                                  <option>uncomfortable putting his or her face in the water</option>
                                  <option>comfortable putting his or her face in the water</option>
                                  <option>can swim the width of a pool</option>
                                  <option>advanced swimmer, can swim length of a pool</option>
                              </select>
                          </div>
                      </div>
                      <div class="control-group">
                          <label class="control-label" for="session-select">Sessions</label>
                          <div class="controls">
                              <div class="selected-sessions">
                                  <div class="alert alert-success session" v-for="(session, sessionIndex) in sessions[childIndex]">
                                      {{formatSession(session)}}
                                      <button type="button" class="close" @click="remove(childIndex, sessionIndex)">×</button>
                                  </div>
                              </div>
                              <select name="selected-session-{{childIndex}}" class="select-session input-xxlarge"
                                  v-model="selectedSession[childIndex]"
                                  @change="add(childIndex)"
                                  v-options="formatSession(s) for s in childsAvailableSessions(childIndex)">
                                  <option value="">-- Add Session --</option>
                              </select>
                              <span class="help-block">
                                  <small>Add all the sessions you are interested in</small>
                              </span>
                          </div>
                      </div>
                  </div>
                  <input type="hidden" name="sessions-{{childIndex}}-{{index}}" value="{{formatSession(session)}}"
                      v-for="session in sessions[childIndex]">
              </fieldset>


              <fieldset>
                  <legend>special requests/needs</legend>
                  <div class="control-group">
                      <label class="control-label" for="request">Request</label>
                      <div class="controls">
                          <textarea name="request" rows="3" class="input-xxlarge"></textarea>
                          <span class="help-block"><small>in a lesson with a friend, etc. (no specific time requests).</small></span>
                      </div>
                  </div>
              </fieldset>

              <fieldset>
                  <legend>Payment</legend>
                  <div class="pad10">
                      <span class="lead">Number of Sessions: </span><span class="lead">{{sessionTotal()}}</span>
                  </div>

                  <div class="pad10">
                      <h4>Credit Card</h4>
                      <strong class="blue">Your card will only be charged after JJ confirms your lesson times.</strong>
                      <div class="pad10">
                          <span class="lead">Total: </span><span class="lead">{{paymentTotal()/ 100 | currency}}</span>
                      </div>
                      <button type="button" class="btn btn-large btn-primary"
                        @click="payWithCard()"
                        :disabled="cardButtonMessage != 'Enter Payment Information'"
                        v-show="cardButtonMessage != 'Payment Information Saved'"
                        v-class="{'btn-primary': !customerId}">{{cardButtonMessage}}</button>
                  </div>
              </fieldset>

              <div class="alert alert-block alert-error" v-show="paymentError">
                  <h4>Sorry</h4>
                  <p>There seems to be a problem saving your payment information. Below is the error received by the processing company:</p>
                  <p>{{paymentError}}</p>
              </div>

              <div class="alert alert-block alert-success" v-show="customerId">
                  <strong>Your payment information has been saved; Click "Send Sign-Up Form" below to complete the sign-up process.</strong>
              </div>

              <input type="hidden" name="id" value="signup"/>
              <input type="hidden" name="cost" value="{{paymentTotal()}}">
              <input type="hidden" name="customer_id" value="{{customerId}}">
              <div class="form-actions">
                  <button type="submit" class="btn btn-large btn-primary"
                      v-show="customerId"
                      data-loading-text="sending sign-up form..."
                      ng-disabled="cardButtonMessage == 'saving payment information'">Send Sign-Up Form</button>
              </div>

              <div style="display:none;" id="signup-complete-alert" class="alert alert-block alert-success">
                  <h4>Thank You!</h4>
                  You have completed the signup process. JJ will confirm your exact lesson times <strong>within the next 3 weeks.</strong> If you have any additional questions, please let her know by using the contact form below.
              </div>
          </form>
