<!DOCTYPE html>
<html>
  <head>
    <title>SwimWithJJ</title>
    <link rel="stylesheet" href="./css/bulma.min.css" integrity="sha256-n+Ch7oRdzZ9+8/inp+1mK/0Bt4T/2PSmo4L6YGoDiVM=" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/style.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<style>
			[v-cloak] {
				display: none;
			}

      #card-errors {
        color: red;
      }
		</style>
  </head>
  
  <nav class="nav">
    <div class="nav-left">
            <a href="/" class="nav-item">Home</a> <a href="/about" class="nav-item">About JJ</a>
            <a href="/lesson-info" class="nav-item">Lesson Info</a>
            <a href="/faq" class="nav-item">FAQ</a>
            <a href="/testimonials" class="nav-item">Testimonials</a>
            <a href="/sign-up" class="nav-item is-active">Sign-Up</a>
            <a href="/contact" class="nav-item">Contact JJ</a>
    </div>
  </nav>

  <body class="content">
    <div id="app">
    </div>

    <div>

      <div class="section-header">
        <h1>Sign-Up</h1>
      </div>

      <section class="section" id="waitlist" v-if="!signupsActive || sessionsFull" v-cloak>
        <div class="container">

          <div v-if="!signupsActive">
            <h1 class="title">Coming Soon...</h1>
            <p class="is-medium" v-show="!submitted">
              To be contacted when sign-ups open, you can leave your email address and JJ will let you know as soon as the fun begins.
            </p>
            <p class="is-medium" v-show="submitted">
              Thank you. Your email address has been saved, and you will be notified before sign-ups are opened.
            </p>
          </div>

          <div v-if="sessionsFull">
              <h1 class="title">Sessions Full</h1>
              <p class="is-medium" v-show="!submitted">
                Sorry, all sessions are FULL. To be added to a waitlist please email JJ under "Contact JJ".  You can also enter your email address here to be notified if sessions are added.
              </p>
              <p class="is-medium" v-show="submitted">
                Thank you. Your email address has been saved, and you will be notified if new sessions are added.
              </p>
          </div>

					<div class="field has-addons" v-show="!submitted">
						<p class="control has-icons-left">
              <input class="input" type="email" name="email" placeholder="Enter your email here" v-model="email"/>
							<span class="icon is-small is-left">
								<i class="fa fa-envelope"></i>
							</span>
						</p>
						<p class="control">
              <a class="button is-primary" @click.prevent="submitWaitlist">Notify Me</a>
						</p>
					</div>

        </div>
      </section> 

      <section class="section" id="signup" v-if="signupsActive && !sessionsFull" v-cloak>
        <div class="container">

          <form id="signup-form">

							<div class="help is-success">
                  <h4 class="subtitle emph">Please do not sign-up unless you are 100% sure your child is able to participate in lessons and you are flexible enough to be placed at the lesson time given.</h4>
              </div>

							<!-- Parent Info -->
              <fieldset class="box">
                <legend class="subtitle">parent's information</legend>
								<div class="field is-horizontal">
									<div class="field-body">
										<div class="field is-grouped">
											<p class="control is-expanded has-icons-left">
												<input class="input" type="text" v-model="parent.name" placeholder="Full Name">
												<span class="icon is-small is-left">
													<i class="fa fa-user"></i>
												</span>
											</p>
										</div>
										<div class="field is-grouped">
											<p class="control is-expanded has-icons-left">
												<input class="input" type="email" v-model="parent.email" placeholder="Email">
												<span class="icon is-small is-left">
													<i class="fa fa-envelope"></i>
												</span>
											</p>
										</div>
										<div class="field is-grouped">
											<p class="control is-expanded has-icons-left">
												<input class="input" type="phone" v-model="parent.phone" placeholder="Phone">
												<span class="icon is-small is-left">
													<i class="fa fa-phone"></i>
												</span>
											</p>
										</div>
									</div>
								</div>
              </fieldset>

							<!-- How many children -->
							<p class="subtitle">How many children are you signing up?</p>

							<div class="field has-addons">
								<p class="control" v-for="num in maxChildren">
									<button type="button" id="numChildren-{{num}}" class="button is-large" @click="changeChildCount(num)" :class="{'is-active': num == childCount}">{{num}}</button>
								</p>
							</div>

							<!-- Child Info -->
              <fieldset class="box" v-for="(child, childIndex) in children" v-show="childIndex < childCount">
								<legend class="subtitle">{{childIndex + 1 | childLabel}}</legend>

								<div class="field is-horizontal">
									<div class="field-body">
										<div class="field is-grouped">
											<p class="control is-expanded has-icons-left">
												<input class="input" type="text" v-model="child.name" placeholder="First Name">
												<span class="icon is-small is-left">
													<i class="fa fa-user"></i>
												</span>
											</p>
										</div>
										<div class="field is-grouped">
											<p class="control is-expanded has-icons-left">
												<input class="input" type="date" v-model="child.birthday" placeholder="Birthday">
												<span class="icon is-small is-left">
													<i class="fa fa-calendar"></i>
												</span>
											</p>
										</div>
										<div class="field is-grouped">
											<div class="control">
												<span class="select">
													<select v-model="child.level">
                            <option selected disabled>-- Select swimming level --</option>
                            <option>uncomfortable putting his or her face in the water</option>
                            <option>comfortable putting his or her face in the water</option>
                            <option>can swim the width of a pool</option>
                            <option>advanced swimmer, can swim length of a pool</option>
													</select>
												</span>
											</div>
										</div>
									</div>
								</div>

                <p>
                  Sessions:
                  <span class="tag is-success" v-for="(sessionNum, index) in child.sessions">
                    {{getSession(sessionNum) | formatSession}}
                    <button type="button" class="delete" @click="remove(childIndex, index)">×</button>
                  </span>
                </p>

                <div class="field">
                  <p class="control">
                    <span class="select" >
                      <select v-model="selectedSession[childIndex]" @change="add(childIndex)" placeholder="Add Session">
                        <option v-for="s in childsAvailableSessions(childIndex)" :value="s">
                          {{getSession(s) | formatSession}}
                        </option>
                        <option disabled v-show="!hasAvailableSessions(childIndex)">No Sessions Available</option>
                      </select>
                    </span>
                  </p>
                  <p class="help">Add all the sessions you are interested in</p>
                </div>

              </fieldset>


              <fieldset class="box">
                  <legend class="subtitle">special requests/needs</legend>
                  <div class="field">
                      <div class="control">
                          <textarea v-model="parent.request" rows="3" class="textarea"></textarea>
                          <p class="help">In a lesson with a friend, etc. (no specific time requests).</p>
                      </div>
                  </div>
              </fieldset>


              <fieldset class="box">
								<legend class="subtitle">Payment</legend>
								<p class="is-medium">Number of Sessions: <strong>{{sessionTotal}}</strong></p>
								<p class="is-medium">Payment Total: <strong>{{paymentTotal/ 100 | currency}}</strong></p>

                <div>
                  <div id="card-element" class="box"></div>
									<!-- Used to display form errors -->
									<div class="help content is-danger" id="card-errors"></div>
								</div>

								<p class="emph">* Your card will only be charged after JJ confirms your lesson times.</p>
              </fieldset>

              <p>
                <button type="button" class="button is-primary"
                  @click="submitSignup"
                  :class="{'is-loading': submitProcessing}">Send Sign-Up Form</button>
              </p>

              <div class="notification is-danger" v-show="submitFailed">
                  <h4>Sorry</h4>
                  <p>There seems to be a problem submitting your sign-up form. Below is the error received:</p>

                  <p>
                    {{error}}
                  </p>
              </div>

              <div class="notification is-success" v-show="submitSucceeded">
                  <h4 class="subtitle">Thank You!</h4>
                  <p>
                    You have completed the signup process. JJ will confirm your exact lesson times <strong>within the next 3 weeks.</strong> If you have any additional questions, please let her know by using the contact form below.
                  </p>
              </div>

          </form>

        </div>
      </section>

    </div>
  </body>


  <hr>


  <footer>
      <p><small>SwimWithJJ 2017</small></p>
  </footer>

  <script src="./js/vue.min.js"></script>
	<script src="./js/axios.js"></script>
	<script src="./js/underscore-min.js"></script>
	<script src="https://js.stripe.com/v3/"></script>

  <script src="./js/sign-up.js"></script>

  <!--<script type="text/javascript">-->
    <!--var _gaq = _gaq || [];-->
    <!--_gaq.push(['_setAccount', 'UA-15537987-1']);-->
    <!--_gaq.push(['_trackPageview']);-->

    <!--(function() {-->
      <!--var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;-->
      <!--ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
      <!--var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);-->
    <!--})();-->
  <!--</script>-->

</html>
